@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xs: 500px;
  --breakpoint-sm: 600px;
  --breakpoint-sm2: 680px;
  --breakpoint-md2: 880px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1480px;
  --breakpoint-5xl: 1800px;
}

* {
  outline: none;
  outline-color: transparent;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #00050d;
  color: #ffffff;
  overflow-x: hidden;
}

body,
html {
  @apply overflow-x-hidden;
}
body::-webkit-scrollbar {
  width: 0px;
}

.movie_details_popup_scroll {
  -webkit-overflow-scrolling: touch;
}
.movie_details_popup_scroll::-webkit-scrollbar {
  width: 0px;
}

.nav_bg_leaner {
  background: linear-gradient(to bottom, #191e25, rgba(255, 0, 0, 0));
}
.nav_bg_leaner2 {
  background: linear-gradient(to bottom, #191e25cc, #191e25cc);
  backdrop-filter: blur(10px);
}

.hero_bg_leaner {
  background: linear-gradient(
    360deg,
    #00050d 0%,
    rgba(0, 5, 13, 0.8) 23.58%,
    rgba(0, 5, 13, 0.6) 45.06%,
    rgba(0, 5, 13, 0.4) 68.44%,
    rgba(0, 5, 13, 0.199103) 84.29%,
    rgba(0, 5, 13, 0) 100%
  );
}

.hero_bg_leaner3 {
  background: linear-gradient(
    360deg,
    #181818 0%,
    #181818c6 23.58%,
    #18181899 45.06%,
    #1818187b 68.44%,
    #1818184d 84.29%,
    #1818180c 100%
  );
}
.hero_bg_leaner_2 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.407) 100%);
}
.card_arrow_bg2 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0) 90%);
}

.line_clamp_2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover_inner_black svg path {
  @apply transition-all duration-300 ease-in-out;
}
.hover_inner_black:hover svg path {
  stroke: black;
}
.hover_inner_black2 svg circle,
.hover_inner_black2 svg line {
  @apply transition-all duration-300 ease-in-out;
}
.hover_inner_black2:hover svg circle,
.hover_inner_black2:hover svg line {
  stroke: black;
}

.slick-dots li {
  margin: 0 !important;
}

.slick-dots li button:before {
  color: white !important;
  @apply transition-all duration-300 ease-in-out text-[6px]! md:text-[8px]!;
}

.slick-dots {
  @apply -bottom-3!;
}

.slick-dots li.slick-active button:before {
  opacity: 100% !important;
  @apply transition-all duration-300 ease-in-out text-[8px]! md:text-[13px]!;
}

.cards_slider:hover .arrow {
  @apply sm2:flex!;
}

.cards_slider2:hover .arrow {
  @apply opacity-100;
}
.cards_slider2 .arrow:hover {
  @apply scale-130 duration-500;
}
.arrow:hover span {
  @apply scale-150;
}
.movies_card_arrwos .slick-list {
  overflow: unset;
}
.swiper {
  overflow: revert !important;
  z-index: 1;
}

.swiper-wrapper {
  overflow: revert !important;
}

.swiper-slide {
  overflow: revert !important;
}

.movie_details_box {
  display: none;
}

.movie_details {
  @apply transition-all duration-300 ease-in-out;
}
.movie_details:hover a {
  @apply sm:rounded-b-none!;
}
.movie_details:hover img {
  @apply sm:rounded-b-none!;
}

.number2 {
  animation: swip1 300ms forwards linear;
  transform: translateX(5px);
  z-index: -10;
}
.movie_details .number {
  animation: swip2 300ms forwards linear;
  transform: translateX(5px);
}

@keyframes swip2 {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-101%);
  }
  100% {
    transform: translate(5px);
    z-index: -10;
  }
}
@keyframes swip1 {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-101%);
  }
  100% {
    transform: translate(5px);
    z-index: 10;
  }
}

.movie_details:hover {
  @apply sm:scale-120 sm:-translate-y-[30px];
}
.movie_details.movie_details2 {
  @apply sm:scale-150 sm:-translate-y-[40%];
}

.movie_details:hover .movie_details_box {
  @apply transition-all duration-300 ease-in-out sm:block;
}

.menu_icon:hover path {
  fill: black;
}

.lang {
  -webkit-text-stroke: 0.5px white;
}
.menu_icon path {
  @apply transition-all duration-300 ease-in-out;
}

.shimmer {
  position: relative;
  overflow: hidden;
}
.shimmer2 {
  position: relative;
  overflow: hidden;
}

.shimmer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmerMove 1.5s infinite;
  transform: translateX(-100%);
}

@keyframes shimmerMove {
  100% {
    transform: translateX(100%);
  }
}
.shimmer2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.44) 0%,
    rgba(255, 255, 255, 0.44) 20%,
    rgba(0, 0, 0, 0.44) 40%,
    rgba(255, 255, 255, 0.44) 80%,
    rgba(66, 66, 66, 0.44) 100%
  );
  width: 100%;
  animation: shimmerMove2 1.5s linear infinite;
  transform: translateX(-100%);
}

@keyframes shimmerMove2 {
  100% {
    transform: translateX(100%);
  }
}

.serach_results::-webkit-scrollbar {
  width: 5px;
}

.serach_results::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

.progress_bar_container:hover .progress_bar {
  @apply md:h-2;
}

.animate_height_loader {
  animation: animate_height_loader 500ms linear infinite;
}

@keyframes animate_height_loader {
  0% {
    height: 0;
  }
  50% {
    height: 4px;
  }
  100% {
    height: 0;
  }
}

.active {
  @apply bg-white text-black;
}
.lang_slider {
  scrollbar-width: thin;
  scrollbar-color: rgb(60, 58, 58) #00050d;
}
.lang_slider2::-webkit-scrollbar {
  height: 4px !important;
  width: 100% !important;
}
.lang_slider2::-webkit-scrollbar-thumb {
  @apply bg-red-700 rounded-full;
}
.lang_slider2::-webkit-scrollbar-track {
  @apply bg-white/10 rounded-full;
}

.video-js video {
  height: 100dvh !important;
  font-size: 20px !important;
}

.video-js .vjs-menu-content {
  scrollbar-width: thin !important;
  scrollbar-color: #00a6f4 rgba(0, 128, 0, 0);
}

.video-js {
  @apply min-h-10! text-sm! md:text-[15px]! 2xl:text-[17px]!;
}

.login_bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.767));
}

.Toastify__toast {
  @apply max-xs:min-h-[53px]! max-sm:rounded-md!;
}
.Toastify__toast-container {
  @apply max-xs:w-[320px]! z-100000000!;
}
.Toastify__toast-container--top-center {
  @apply max-xs:left-1/2! max-xs:translate-0! max-xs:top-3;
}

.vjs-seeking .center_controls .play_pause {
  opacity: 0 !important;
}

.video-js .vjs-slider {
  @apply bg-white/70! rounded-full;
}
.video-js .vjs-play-progress {
  @apply bg-sky-500! rounded-full;
}
.video-js .vjs-load-progress div {
  @apply bg-white!;
}
.vjs-icon-circle:before,
.vjs-seek-to-live-control .vjs-icon-placeholder:before,
.video-js .vjs-volume-level:before,
.video-js .vjs-play-progress:before {
  @apply text-sky-500!;
}

.video-js .vjs-volume-level {
  @apply bg-sky-500! rounded-full;
}

.more_cards::after {
  background-image: linear-gradient(
    198deg,
    rgba(0, 0, 0, 0.9),
    hsla(0, 0%, 9%, 0.5) 20%,
    transparent 28%
  );
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Disable text selection */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Enable selection for input fields */
input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Disable image dragging */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

/* Disable copy-paste on specific elements */
.no-copy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1400px) {
  .mask_bottom {
    -webkit-mask: radial-gradient(100% 11% at 50% 102%, transparent 50%, white 52%);
    mask: radial-gradient(100% 11% at 50% 102%, transparent 50%, white 52%);
    filter: brightness(0.9);
  }
  .mask_bottom2 {
    -webkit-mask: radial-gradient(100% 11% at 50% 104%, transparent 51%, white 123%);
    mask: radial-gradient(100% 11% at 50% 104%, transparent 51%, white 123%);
  }
}

@media (max-width: 767px) {
  .nav_bg_leaner {
    background: linear-gradient(to bottom, #191e25cc, #191e25cc);
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 1200px) {
  .mask_bottom2 {
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    transform: translate(-50%) !important;
  }
}

@media (min-width: 1400px) {
  .mask_bottom {
    -webkit-mask: radial-gradient(100% 13% at 50% 102%, transparent 50%, white 52%);
    mask: radial-gradient(100% 13% at 50% 102%, transparent 50%, white 52%);
    filter: brightness(0.9);
  }
  .mask_bottom2 {
    -webkit-mask: radial-gradient(100% 13% at 50% 103%, transparent 51%, white 80%);
    mask: radial-gradient(100% 13% at 50% 103%, transparent 51%, white 80%);
  }
}
